:root {
  --main-color: #6e41fe;
}
* {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
  /* MY FRAMEWORK */
  .html {
    color: #e34f26;
  }
  .css {
    color: #264de4;
  }
  .bs {
    color: #7532fa;
  }
  .scss {
    color: #cf649a;
  }
  .js {
    color: #f7df1e;
  }
  .jq {
    color: #0769ad;
  }
  .ts {
    color: #3178c6;
  }
  .ng {
    color: #b52e31;
  }
  .git {
    color: #fc6d26;
  }
  .git-hub {
    color: #333;
  }
  .line-h-2 {
    line-height: 2;
  }
  .main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 30px;
    border-radius: 999px;
    /* overflow: hidden; */
  }
  .main-title:hover {
    color: white;
    border: 2px solid white !important;
    transition: .3s 0.5s;
  }
  .main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
  }
  .main-title:hover::after {
    animation: right-move 0.5s linear forwards;
    z-index: -1;
  }
  .main-title::before,
  .main-title::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 999px;
  }
  .main-title::before {
    content: '';
    left: -30px;
  
  }
  .main-title::after {
    content: '';
    right: -30px;
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 15px;
      height: 15px;
      border-radius: 999px;

    }
    100% {
      right: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
      border-radius: 999px;

    }
  }
  @keyframes left-move {
    50% {
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 999px;

    }
    100% {
      left: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
      border-radius: 999px;
    }
  }
  .bg-main {
    background-color: var(--main-color);
  }
  .bg-main-25 {
    background-color: rgba(110, 65, 254, .75);
  }
  .text-main {
    color: var(--main-color);
  }
  .curser-pointer {
    cursor: pointer;
  }
  .dis-none {
    display: none;
  }
  .icon-f {
    font-size: 2.5rem;
  }
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    border: #ccc 1px solid;
    color: #ccc;
    transition: .3s;
    border-radius: 50%;
    margin: 0 5px;
  }
  .icon:hover {
    color: white;
    background-color: var(--main-color);
  }
  .btn-main {
    background-color: var(--main-color);
    color: white;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: .3s;
    padding: 12px 15px;
  }
  .btn-main:hover {
    background-color: #fff;
    border-color: var(--main-color);
    color: var(--main-color);
  }
  /* HEADER */
  header {
    overflow: hidden;
  }
  .logo {
    padding-right: 124.25px;
  }
  .logo > div {
    left: 6px !important;
  }

  nav .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .categories li {
    padding: 0 20px;
  }
  nav .categories a {
    color: #333;
    font-weight: 700;
    font-size: 18px;
    transition: .3s;
  }
  nav .categories a:hover {
    color: var(--main-color);
  }
  .layer {
    width: 1400px;
    height: 600px;
    position: absolute;
    background-color: #eeeeee88;
    border-radius: 1e+23px;
    transform: rotate(-25deg);
    right: -30%;
    top: 3%;
    overflow: hidden;
  }
  .layer img {
    transform: rotate(25deg);
    position: absolute;
    bottom: 0;
    width: 33%;
  }


  /* SKILLS */

  #skils .box {
    background-color: #eeeeee44;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border-radius: 15px;
    transition: .5s ease;
    position: relative;
  }
  #skils .box:hover {
    box-shadow: 0 5px 13px 1px #00000011;
    translate: 0 -10px;
  }
  #skils img {
    width: 100px;
  }
  #skils i {
    font-size: 105px;
}

  #skils h4 {
    transform: translateY(60px);
    transition: .5s ease;
    font-weight: 700;
    font-size: 25px;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    margin: 0;
  }
  #skils .box:hover h4 {
    /* display: block; */
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
  }

  /* PORTFOLIO */


  #portfolio .box {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 13px 1px #00000011;
    padding: 0 !important;
    position: relative;
  }
  #portfolio a {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease;
  }
  #portfolio .box:hover a {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  #portfolio i {
    font-size: 35px;
  }

  /* loader */

  .loader {
    background-color: #fff;
    position: fixed;
    inset: 0;
    z-index: 12312;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }
  
  .spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  
  .spinner::after {
    margin: 8.9px;
  }
  
  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }